<form action="{% url 'time-submission' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>

{% if has_error %}
    <p>
    Status:
    {{ status }}
    </p>
    <p>
    Error:
    {{ error }}
    </p>
    <p>
    Text:
    {{ text }}
    </p>
{% else %}
    <p>
    Duration:
    {{ duration }}
    </p>
    <p>
    User:
    {{ user }}
    </p>
    <p>
    Project:
    {{ project }}
    </p>
    <p>
    Activities:
    {% for activity in activities %}
        {{ activity }}
    {% endfor %}
    </p>
    <p>
    Notes:
    {{ notes }}
    </p>
    <p>
    Issue URI:
    {{ issue_uri }}
    </p>
    <p>
    Date Worked:
    {{ date_worked }}
    </p>
{% endif %}
